<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

             <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                      <div class="table">
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
 
                                <h3>Teacher Sign-Up</h3>

                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                <label for="FacultyID" class="form-label">Faculty ID</label>

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                 <input type="text" class="form-control">

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                <label for="Name" class="form-label">Name</label>

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                <input type="text" class="form-control">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                 <label for="Department" class="form-label">Department</label>

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                <input type="text" class="form-control">

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="Password" class="form-label">Password</label>
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="password" name="" id="" class="form-control">
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="Confirmpw" class="form-label">Confirm Password</label>
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="password" name="" id="" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
                            <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">

                                <button class="btn btn-success">Register</button>

                            </div>
                            <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <div class="table">
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
 
                                <h3>Class Teacher Sign-Up</h3>

                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                
                                <label for="Facultyid" class="form-label">Faculty ID</label>

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                 <input type="text" class="form-control">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                                 <label for="Name" class="form-label">Name</label>

                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="Department" class="form-label">Department</label>
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="Clsteacher" class="form-label">Class Teacher of </label>
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="text" class="form-control">
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="Password" class="form-label">Password</label>
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="password" name="" id="" class="form-control">
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="Confirmpw" class="form-label">Confirm Password</label>
                            </div>
                            <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <input type="password" name="" id="" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
                            <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                <button class="btn btn-success">Register</button>
                            </div>
                            <div class="col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
                        </div>
                      </div>


                </div>
             </div>

        </div>
    </div>
</div>
